{% extends 'base.html' %}
{% block padding-top %}
    style="padding-top: 72px;"
{% endblock %}
{% block body %}

    <section class="hero py-6 py-lg-7 text-white dark-overlay"><img src="https://yedo.s3.eu-west-3.amazonaws.com/static/tus/img/photo/ron-dyar-V29UWcALNko-unsplash.jpg" alt="Text page" class="bg-image">
      <div class="container overlay-content">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb text-white justify-content-center no-border mb-0">
          <li class="breadcrumb-item"><a href="{% url 'main_home' %}">Accueil</a></li>
          <li class="breadcrumb-item active">Privacy                         </li>
        </ol>
        <h1 class="hero-heading">YEDO.IO : CONDITIONS GÉNÉRALES DE VENTE</h1>
      </div>
    </section>
    <section class="py-6">
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="text-content">
              <h3>Article 1. Généralités</h3>
              <p>Toutes nos offres et conventions sont soumises aux présentes conditions générales sauf dérogation préalable et écrite de notre part.</p>
              <p>Par le seul fait de sa commande, le client (ci-après le “Client”) adhère aux présentes conditions générales de vente, renonçant aux conditions générales et particulières mentionnées dans ses propres bons de commande, dans ses lettres ou sur ses documents commerciaux, encore ceux-ci fussent-ils établis à la main antérieurement ou postérieurement à l'établissement de nos documents.</p>
              <p>Elles sont complétées par les Conditions Générales d’Utilisation de Yedo. En cas de contradiction, ces Conditions Générales de Vente prévalent sur les Conditions Générales d’Utilisation.</p>
              <h3>Article 2. Prestations</h3>
              <p>Les services de mises en relation que nous rendons à nos clients sont modalisés de deux manières :</p>
                <ul>
                  <li>La fourniture des coordonnées d’un étudiant demandeur d’emploi sous forme d’un achat unique.</li>
                  <li>La fourniture des coordonnées de tous les étudiants demandeurs d’emploi inscrits sur la Plateforme sur demande et sous forme d’un abonnement mensuel payant.</li>
                </ul>
              <h3>Article 3. Prestataire</h3>
              <p>La Plateforme est exploitée par la société Alexandre Gonze (ci-après le “Prestataire”), Entreprise Personne Physique, enregistrée sous le n° BE0683.647.387, dont le siège social est situé Rue Antoine Gautier 100, 1040 Etterbeek (ci-après : « Yedo »).</p>
              <p>Yedo peut être contactée par mail via l’adresse électronique suivante : hello@yedo.io.</p>
              <h3>Article 4. Prix</h3>
              <p>Le prix des Services est indiqué sur le site. Sauf mention contraire, ils sont exprimés en euros et toutes taxes belges comprises. Le Prestataire se réserve le droit, à sa libre discrétion et selon des modalités dont elle sera seule juge, de proposer des offres promotionnelles ou réductions de prix.</p>
              <p>Le prix de Services peut faire l’objet d’une révision par le Prestataire à tout moment, à sa libre discrétion. Le Client sera informé de ces modifications par le Prestataire par email sous un préavis de un mois au moins avant l’entrée en vigueur des nouveaux tarifs. Le Client qui n’accepte pas les nouveaux prix doit mettre fin à son utilisation des Services selon les modalités prévues à l’article 18. A défaut, il sera réputé avoir accepté les nouveaux tarifs.</p>
              <h3>Article 5. Factures</h3>
              <p>Les Services font l’objet de factures qui sont communiquées au Client par tout moyen utile.</p>
              <h3>Article 6. Modalités de paiement</h3>
              <p>Les modalités de paiement du prix des Services sont décrites sur le site.</p>
              <p>Le paiement s’effectue par prélèvement automatique à partir du numéro de carte bancaire du Client.</p>
              <p>Le prélèvement est mis en œuvre par le prestataire de paiement désigné sur le site (Stripe), qui seul conserve les coordonnées bancaires du Client à cette fin. Le Prestataire ne conserve aucune coordonnée bancaire.</p>
              <p>Le Client garantit au Prestataire qu'il dispose des autorisations nécessaires pour utiliser le mode de paiement choisi. Il s’engage à prendre les mesures nécessaires afin que le prélèvement automatique du prix des Services puisse être effectué.</p>
              <h3>Article 7. Retards et incidents de paiement</h3>
              <p>Le Client est informé et accepte expressément que tout retard de paiement de tout ou partie d’une somme due à son échéance entraînera automatiquement, sans préjudice des dispositions de l’article 12 et sans mise en demeure préalable :</p>
                <ul>
                  <li>La déchéance du terme de l’ensemble des sommes dues par le Client et leur exigibilité immédiate;</li>
                  <li>La suspension immédiate des Services en cours jusqu’au complet paiement de l’intégralité des sommes dues par le Client ;</li>
                  <li>Un intérêt au taux d’un pour cent (1 %) par mois de retard depuis la date d’échéance de la facture jusqu’au parfait paiement.</li>
                </ul>
              <h3>Article 8. Délais</h3>
              <p>Sauf mention expresse, les prestations de Services proposés sont réalisés immédiatement.</p>
              <p>Les retards éventuels d'exécution ne peuvent en aucun cas donner lieu à la résolution du contrat ou de la commande, ni à des dommages et intérêts.</p>
              <p>Nous sommes dispensés des conditions de délais convenues en cas de force majeure ou de tout autre cause indépendante de notre volonté survenant soit dans nos bureaux soit chez nos principaux sous- traitants.</p>
              <h3>Article 9. Propriété intellectuelle</h3>
              <p>Nous conservons la propriété du code source de l’ensemble des éléments logiciels que nous utilisons en vue de la réalisation des Services que nous proposons.</p>
              <h3>Article 10. Responsabilité</h3>
              <p>Toute réclamation éventuelle concernant nos prestations doit nous être adressée par écrit dans les huit jours qui suivent leur accomplissement.</p>
              <h3>Article 11. Liens et sites tiers</h3>
              <p>Le Prestataire ne pourra en aucun cas être tenue pour responsable de la disponibilité technique de sites internet ou d’applications mobiles exploités par des tiers (y compris ses éventuels partenaires) auxquels l’Utilisateur accéderait par l'intermédiaire du site.</p>
              <p>Le Prestataire n'endosse aucune responsabilité au titre des contenus, publicités, produits et/ou services disponibles sur de tels sites et applications mobiles tiers dont il est rappelé qu’ils sont régis par leurs propres conditions d’utilisation.</p>
              <p>Le Prestataire n'est pas non plus responsable des transactions intervenues entre l’Utilisateur et un quelconque annonceur, professionnel ou commerçant (y compris ses éventuels partenaires) vers lequel l’Utilisateur serait orienté par l'intermédiaire du site et ne saurait en aucun cas être partie à quelques litiges éventuels que ce soit avec ces tiers concernant notamment la livraison de produits et/ ou services, les garanties, déclarations et autres obligations quelconques auxquelles ces tiers sont tenus.</p>
              <h3>Article 12. Obligations du Client</h3>
              <p>Sans préjudice des autres obligations prévues aux présentes, le Client s’engage à respecter les obligations qui suivent :</p>
                <ul>
                  <li>Le Client s’engage, dans son usage des Services, à respecter les lois et règlements en vigueur et à ne pas porter atteinte aux droits de tiers ou à l’ordre public.</li>
                  <li>Il est notamment seul responsable du bon accomplissement de toutes les formalités notamment administratives, fiscales et/ ou sociales et de tous les paiements de cotisations, taxes ou impôts de toutes natures qui lui incombent, le cas échéant, en relation avec son utilisation des Services. La responsabilité du Prestataire ne pourra en aucun cas être engagée à ce titre.</li>
                  <li>Le Client reconnaît avoir pris connaissance sur le site des caractéristiques et contraintes, notamment techniques, de l’ensemble des Services. Il est seul responsable de son utilisation des Services.
                    </li>
                  <li>Le Client est informé et accepte que la mise en œuvre des Services nécessite qu’il soit connecté à internet et que la qualité des Services dépend directement de cette connexion, dont il est seul responsable.</li>
                  <li>Le Client s’engage à faire un usage strictement personnel des Services. Il s’interdit en conséquence de céder, concéder ou transférer tout ou partie de ses droits ou obligations au titre des présentes à un tiers, de quelque manière que ce soit.</li>
                  <li>Le Client s’engage à fournir au Prestataire toutes les informations nécessaires à la bonne exécution des Services. Plus généralement, l’Utilisateur s’engage à coopérer activement avec le Prestataire en vue de la bonne exécution des présentes.</li>
                  <li>Le Client reconnaît que les Services lui offrent une solution supplémentaire mais non alternative des moyens qu’il utilise déjà par ailleurs pour atteindre le même objectif et que cette solution ne saurait se substituer à ces autres moyens.</li>
                </ul>
              <p>Il est strictement interdit d’utiliser les Services aux fins suivantes :</p>
                <ul>
                  <li>L’exercice d’activités illégales,frauduleuses ou portant atteinte aux droits ou à la sécurité des tiers;</li>
                  <li>L’atteinte à l’ordre public ou la violation des lois et règlements en vigueur;</li>
                  <li>L’intrusion dans le système informatique d’un tiers ou toute activité de nature à nuire, contrôler,
                      interférer, ou intercepter tout ou partie du système informatique d’un tiers, en violer l’intégrité ou la sécurité ;</li>
                  <li>L’envoi d’emails non sollicités et/ou de prospection ou sollicitation commerciale ; </li>
                  <li>Les manipulations destinées à améliorer le référencement d’un site tiers ;</li>
                  <li>L’aide ou l’incitation, sous quelque forme et de quelque manière que ce soit, à un ou plusieurs des actes et activités décrits ci-dessus ; </li>
                  <li>Plus généralement toute pratique détournant les Services à des fins autres que celles pour lesquelles ils ont été conçus.</li>
                  <li>Sont également strictement interdits : (i) tous comportements de nature à interrompre, suspendre, ralentir ou empêcher la continuité des Services, (ii) toutes intrusions ou tentatives d’intrusions dans les systèmes du Prestataire, (iii) tous détournements des ressources système du site, (iv) toutes actions de nature à imposer une charge disproportionnée sur les infrastructures de ce dernier, (v) toutes atteintes aux mesures de sécurité et d’authentification, (vi) tous actes de nature à porter atteinte aux droits et intérêts financiers, commerciaux ou moraux du Prestataire ou des usagers de son site, et enfin plus généralement (vii) tout manquement aux présentes conditions générales.</li>
                </ul>
              <p>Il est strictement interdit de monnayer, vendre ou concéder tout ou partie de l’accès aux Services ou au site, ainsi qu’aux informations qui y sont hébergées et/ou partagées.</p>
              <h3>Article 13. Perte du droit de rétractation</h3>
              <p>En procédant à un achat sur la Plateforme Yedo, le Client reconnaît que le Prestataire procèdera à l’exécution immédiate de la prestation à compter de la validation de sa commande et le Client renonce expressément à exercer son droit de rétractation prévu aux articles VI.47 à 53 du Code de droit économique.</p>
              <h3>Article 14. Litiges</h3>
              <p>Tous les litiges seront de la compétence exclusive des juridictions de l’arrondissement judiciaire de Bruxelles. Aucun mode de paiement ou d’exécution n’apportera novation ou dérogation à la présente clause expresse d’attribution exclusive de compétence. Le droit belge sera seul applicable.</p>
              <p>Plateforme européenne de règlement en ligne des litiges : <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=FR">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=FR</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}