{% extends 'base.html' %}
{% block padding-top %}
    style="padding-top: 72px;"
{% endblock %}
{% block body %}

    <section class="hero py-6 py-lg-7 text-white dark-overlay"><img src="https://yedo.s3.eu-west-3.amazonaws.com/static/tus/img/photo/ron-dyar-V29UWcALNko-unsplash.jpg" alt="Text page" class="bg-image">
      <div class="container overlay-content">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb text-white justify-content-center no-border mb-0">
          <li class="breadcrumb-item"><a href="{% url 'main_home' %}">Accueil</a></li>
          <li class="breadcrumb-item active">CGU                         </li>
        </ol>
        <h1 class="hero-heading">YEDO.IO : CONDITIONS GENERALES D’UTILISATION</h1>
      </div>
    </section>
    <section class="py-6">
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="text-content">
              <h3>Article 1. Objet</h3>
              <p>Les présentes conditions générales ont pour objet de définir les modalités et conditions d’utilisation du site internet www.yedo.io (ci-après : la « Plateforme »), ainsi que de définir les droits et obligations des parties dans ce cadre.</p>
              <p>Elles sont notamment accessibles et imprimables à tout moment par un lien direct en bas de la page d’accueil du site.</p>
              <p>Elles sont complétées par les Conditions Générales de Vente particulières à certains Services. En cas de contradiction, les conditions particulières prévalent sur ces conditions générales.</p>
              <h3>Article 2. Exploitant de la Plateforme</h3>
              <p> La Plateforme est exploitée par la société Alexandre Gonze, Entreprise Personne Physique, enregistrée sous le n° BE0683.647.387, dont le siège social est situé Rue Antoine Gautier 100, 1040 Etterbeek (ci-après : « Yedo »).</p>
              <p>Yedo peut être contactée par mail via l’adresse électronique suivante : hello@yedo.io.</p>
              <h3>Article 3. Acceptation des conditions générales d’utilisation</h3>
              <p>L’acceptation des présentes conditions générales est matérialisée par une mention expresse au moment de l’inscription sur Yedo. Toute adhésion sous réserve est considérée comme nulle et non avenue. L’Utilisateur qui n’accepte pas d’être lié par les présentes conditions générales ne doit pas utiliser la Plateforme.
              </p>
              <h3>Article 4. Inscription sur le site</h3>
              <p>L’Inscription sur la Plateforme se fait par deux biais différents : (1) Inscription en tant qu’employeur (ci-après l’”Employeur") - (2) Inscription en tant qu’étudiant (ci-après l’”Etudiant”).
              <p>L’Inscriptionentantqu’Employeurouentantqu’Etudiantn’estaccessiblequ’à:</p>
                <ul>
                  <li>à toute personne physique disposant de la pleine capacité juridique pour s’engager au titre des présentes conditions générales. La personne physique qui ne dispose pas de la pleine capacité juridique ne peut accéder au Site et aux Services qu’avec l’accord de son
                    représentant légal ;</li>
                  <li>à toute personne morale agissant par l’intermédiaire d’une personne physique disposant de la capacité juridique pour contracter au nom et pour le compte de la personne morale.</li>
                </ul>
              </p>
              <p> L’Inscription entraîne automatiquement l’ouverture d’un compte (ci-après : le « Compte »), lui donnant accès à un espace personnel (ci-après : l’« Espace Personnel ») qui lui permet de gérer son utilisation de la Plateforme sous une forme et selon les moyens techniques que Yedo juge les plus appropriés pour rendre ses Services.</p>
              <p>L’Utilisateur garantit que toutes les informations qu’il donne dans le formulaire d’inscription sont exactes, à jour et sincères et ne sont entachées d’aucun caractère trompeur.</p>
              <p>Il s’engage à mettre à jour ces informations dans son Espace Personnel en cas de modifications, afin qu’elles correspondent toujours aux critères susvisés.</p>
              <p>L’Utilisateur est informé et accepte que les informations saisies aux fins de création ou de mise à jour de son Compte valent preuve de son identité.</p>
              <p>L’Utilisateur peut accéder à tout moment à son Espace Personnel après s’être identifié à l’aide de son identifiant de connexion ainsi que de son mot de passe.</p>
              <p>L’Utilisateur s’engage à utiliser personnellement les Services et à ne permettre à aucun tiers de les utiliser à sa place ou pour son compte, sauf à en supporter l’entière responsabilité.</p>
              <p>Il est pareillement responsable du maintien de la confidentialité de son identifiant et de son mot de passe. Il doit immédiatement contacter Yedo aux coordonnées mentionnées à l’article 2 des présentes s’il remarque que son Compte a été utilisé à son insu. Il reconnaît à Yedo le droit de prendre toutes mesures appropriées en pareil cas.</p>
              <h3>Article 5. Description des Services</h3>
              <p>L’Employeur uniquement a accès aux Services décrits dans les Conditions Générales de Vente sous une forme, selon les fonctionnalités et moyens techniques que Yedo juge les plus appropriés.</p>
              <h3>Article 6. Obligations de l’Utilisateur</h3>
              <p>Sans préjudice des autres obligations prévues aux présentes, l’Utilisateur s’engage à respecter les obligations qui suivent :</p>
                <ul>
                  <li>L’Utilisateur s’engage, dans son usage de la Plateforme, à respecter les lois et règlements en vigueur et à ne pas porter atteinte aux droits de tiers ou à l’ordre public.</li>
                  <li>L’Utilisateur est également seul responsable des relations qu’il pourra nouer avec les autres Utilisateurs et des informations qu’il leur communique dans le cadre des Services. Il lui appartient d’exercer la prudence et le discernement appropriés dans ces relations et communications. L’Utilisateur s’engage en outre, dans ses échanges avec les autres Utilisateurs, à respecter les règles usuelles de politesse et de courtoisie.</li>
                  <li>L’Utilisateur est seul responsable des contenus de toute nature (rédactionnels, graphiques, audiovisuels ou autres, en ce compris la dénomination et/ou l’image éventuellement choisies par l’Utilisateur pour l’identifier sur le site) qu’il diffuse dans le cadre des Services (ci-après désignés : les « Contenus »).</li>
                </ul>
              <p>Il garantit à Yedo qu’il dispose de tous les droits et autorisations nécessaires à la diffusion de ces Contenus.</p>
              <p>Il s’engage à ce que lesdits Contenus soient licites, ne portent pas atteinte à l’ordre public, aux bonnes mœurs ou aux droits de tiers, n’enfreignent aucune disposition législative ou règlementaire et plus généralement, ne soient aucunement susceptibles de mettre en jeu la responsabilité civile ou pénale de Yedo.</p>
              <p>L’Utilisateur s’interdit ainsi de diffuser, notamment et sans que cette liste soit exhaustive :</p>
                <ul>
                  <li>des Contenus pornographiques, obscènes, indécents, choquants ou inadaptés à un public familial, diffamatoires, injurieux, violents, racistes, xénophobes ou révisionnistes,</li>
                  <li>des Contenus contrefaisants,</li>
                  <li>des Contenus attentatoires à l’image d’un tiers,</li>
                  <li>des Contenus mensongers, trompeurs ou proposant ou promouvant des activités illicites, frauduleuses ou trompeuses,</li>
                  <li>des Contenus nuisibles aux systèmes informatiques de tiers (tels que virus, vers, chevaux de Troie, etc.),</li>
                  <li>et plus généralement des Contenus susceptibles de porter atteinte aux droits de tiers ou d’être préjudiciables à des tiers, de quelque manière et sous quelque forme que ce soit.</li>
                </ul>
              <p> L’Utilisateur doit prendre les mesures nécessaires pour sauvegarder par ses propres moyens les informations de son Espace Personnel qu’il juge nécessaires, dont aucune copie ne lui sera fournie.</p>
              <h3>Article 7. Garantie de l’Utilisateur</h3>
              <p>L’Utilisateur garantit Yedo contre toutes plaintes, réclamations, actions et/ou revendications quelconques que Yedo pourrait subir du fait de la violation, par l’Utilisateur de l’une quelconque de ses obligations ou garanties aux termes des présentes conditions générales.              </p>
              <p>Il s’engage à indemniser Yedo de tout préjudice qu’elle subirait et à lui payer tous les frais, charges et/ou condamnations qu’elle pourrait avoir à supporter de ce fait.</p>
              <h3>Article 8. Sanctions des manquements</h3>
              <p>En cas de manquement à l’une quelconque des dispositions des présentes conditions générales ou plus généralement, d’infraction aux lois et règlements en vigueur par un Utilisateur, Yedo se réserve le droit de prendre toute mesure appropriée et notamment de :</p>
                <ul>
                  <li>suspendre ou résilier l’accès aux Services de l’Utilisateur, auteur du manquement ou de l’infraction, ou y ayant participé,</li>
                  <li>supprimer tout contenu mis en ligne sur le site,</li>
                  <li>publier sur le site tout message d’information que Yedo jugera utile,</li>
                  <li>avertir toute autorité concernée,</li>
                  <li>engager toute action judiciaire.</li>
                </ul>
              <h3>Article 9. Propriété intellectuelle</h3>
              <p>Les systèmes, logiciels, structures, infrastructures, bases de données et contenus de toute nature (textes, images, visuels, musiques, logos, marques, base de données, etc ...) exploités par Yedo au sein du site sont protégés par tous droits de propriété intellectuelle ou droits des producteurs de bases de données en vigueur. Tous désassemblages, décompilations, décryptages, extractions, réutilisations, copies et plus généralement, tous actes de reproduction, représentation, diffusion et utilisation de l’un quelconque de ces éléments, en tout ou partie, sans l’autorisation de Yedo sont strictement interdits et pourront faire l’objet de poursuites judiciaires.</p>
              <p>Il est strictement interdit aux Utilisateurs de copier et/ou de détourner à leurs fins ou à celles de tiers le concept, les technologies ou tout autre élément du site de Yedo.</p>
              <h3>Article 10. Données à caractère personnel</h3>
              <p>Yedo pratique une politique de protection des données personnelles dont les caractéristiques sont explicitées dans le document intitulé « Charte de confidentialité », dont l’Utilisateur est expressément invité à prendre connaissance sur le site.</p>
              <h3>Article 11. Publicité</h3>
              <p>Yedo se réserve la faculté d’insérer sur toute page du site et dans toute communication aux Utilisateurs tous messages publicitaires ou promotionnels sous une forme et dans des conditions dont Yedo sera seul juge.</p>
              <h3>Article 12. Durée de l’Inscription</h3>
              <p>L’Inscription sur la Plateforme est effectuée pour une durée illimitée.</p>
              <p>L’Employeur et l’Etudiant peuvent se désinscrire des Services à tout moment, en adressant une demande à cet effet à Yedo par email, aux coordonnées mentionnées à l’article 2.</p>
              <p>La désinscription est effective immédiatement. Elle entraîne la suppression automatique du Compte de l’Employeur et/ou de l’Etudiant.</p>
              <h3>Article 13. Modifications</h3>
              <p>Yedo se réserve la faculté de modifier à tout moment les présentes conditions générales.</p>
              <p>L’Utilisateur sera informé de ces modifications par tout moyen utile.</p>
              <p>L’Utilisateur qui n’accepte pas les conditions générales modifiées doit se désinscrire de la Plateforme.</p>
              <p>Tout Utilisateur qui a recours aux Services postérieurement à l’entrée en vigueur des conditions générales modifiées est réputé avoir accepté ces modifications.</p>
              <h3>Article 14. Langue</h3>
              <p>Dans l’hypothèse d’une traduction des présentes conditions générales dans une ou plusieurs langues, la langue d’interprétation sera la langue française en cas de contradiction ou de contestation sur la signification d’un terme ou d’une disposition.</p>
              <h3>Article 15. Loi applicable et juridiction</h3>
              <p>Les présentes conditions générales sont régies par la loi belge.</p>
              <p>En cas de contestation sur la validité, l’interprétation et/ou l’exécution des présentes conditions
                générales, les parties conviennent que les tribunaux de Bruxelles seront exclusivement compétents pour en juger, sauf règles de procédure impératives contraires.</p>
              <h3>Article 16. Entrée en vigueur</h3>
              <p>Les présentes conditions générales sont entrées en vigueur le 17 septembre 2019.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}