{% extends 'student-sign-up-steps/step_base.html' %}
{% block body %}
<div style="height: 8px; top: 0px;" class="progress rounded-0 sticky-top">
      <div role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
    </div>
    <section class="py-5">
      <div class="container">
        <p class="subtitle">{% if student %}Trouve un job d'étudiant en 5 clics !{% endif %}{% if employeur %}Trouvez un étudiant en 5 clics !{% endif %}</p>
        <h1 class="h2 mb-5"> {% if student %}Définis ton nouveau mot de passe{% endif %}{% if employeur %}Définissez votre nouveau mot de passe{% endif %}</h1>
        <form method="POST" action="{% url 'new' %}">
            {% csrf_token %}
          <div class="row form-block">
            <div class="col-lg-4">
              <h4>Nouveau mot de passe</h4>
              <p class="text-muted text-sm"></p>
            </div>
            <div class="col-lg-7 ml-auto">
              <div class="form-group"><input type="hidden" name="pass_reset_form" value="true"></div>
              <div class="form-group">
                  <input type="hidden" name="email" value="{% if student %}{{ student.user.email }}{% endif %}{% if employeur %}{{ employeur.user.email }}{% endif %}">
                <input name="password" id="form_name" type="password" class="form-control" >
              </div>
            </div>
          </div>

          <div class="row form-block flex-column flex-sm-row">
            <div class="col text-center text-sm-left">
            </div>
            <div class="col text-center text-sm-right"><button type="submit" class="btn btn-primary px-3">

                {% if student %}Confirmer mon nouveau mot de passe{% endif %}{% if employeur %}Confirmer le mot de passe{% endif %}<i class="fa-chevron-right fa ml-2"></i></button></div>
          </div>
        </form>
      </div>
    </section>
{% endblock %}
