{% extends 'student-sign-up-steps/step_base.html' %}
{% block body %}
    <div style="height: 8px; top: 0px;" class="progress rounded-0 sticky-top">
      <div role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
    </div>
    <section class="py-5 py-lg-6">
      <div class="container text-center">
        <p class="subtitle text-primary">Paiement correctement validé !</p>
        <h1 class="h2 mb-5">Merci pour votre confiance!</h1>
        <p class="mb-5"><img src="https://yedo.s3.eu-west-3.amazonaws.com/static/tus/img/illustration/undraw_plain_credit_card_c8b8.svg" alt="" style="width: 400px;" class="img-fluid"></p>
          <p class="text-muted mb-5">Vous allez bientôt être redirigé vers la page contenant vos demandes. Si rien ne se passe, <a href="{% url 'employeur_profile' %}">cliquez ici.</a></p>
      </div>
    </section>
{% endblock %}

{% block scripts %}
<script>

window.onload = function() {
  redirect();
};

function redirect() {
    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = {% url 'employeur_profile' %};

    }, 2000);
}

</script>
{% endblock %}


