{% extends 'student-sign-up-steps/step_base.html' %}
{% block body %}
<div style="height: 8px; top: 0px;" class="progress rounded-0 sticky-top">
      <div role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
    </div>
    <section class="py-5">
      <div class="container">
          <p class="subtitle text-primary">Ta vidéo de présentation</p>
        <h1 class="h2 mb-5"></h1>
          <style>
              .centervideo {
    margin-left: auto;
    margin-right: auto;
    display: block
}
          </style>
        <video class="centervideo" height="500px" width="auto" controls autoplay style="border: solid; border-color: #5fb708;" >
  <source src="{{student.video.url}}" type="video/mp4">
Pas possible de lire de vidéo sur ce navigateur
</video>

          <div class="row flex-column flex-sm-row">
            <div class="col text-center text-sm-left"><a href="{% url 'student_profile_infos' %}"><button type="submit" class="btn btn-link text-muted"> <i class="fa-chevron-left fa mr-2"></i>Revenir</button></a>
            </div>

        </div>
      </div>
    </section>

{% endblock %}