{% extends 'auth/auth_base.html' %}
{% block body %}
            <div class="mb-4"><img src="https://yedo.s3.eu-west-3.amazonaws.com/static/tus/img/yedo_logos/Symbol_Black.png" alt="..." style="max-width: 4rem;" class="img-fluid mb-4">
              <h2>Employeur - Yedo.</h2>
              <p class="text-muted">La plateforme de mise en relation entre étudiants jobistes et employeurs<br>Déjà un compte ? <a href="{% url 'auth_login' %}">Se connecter</a>
                  {% if errors %}<br><span style="color: #E63422">{% for e in errors %}<br>{{ e }}{% endfor %}</span>{% endif %}</p>

            </div>
            <form class="form-validate" method="POST" action="{% url 'auth_signup_employeur' %}">
                {% csrf_token %}
                <input type="hidden" name="e" value="true">

              <div class="form-group">
                <input name="email" id="loginUsername" type="email" placeholder="Adresse email" autocomplete="off" required data-msg="Il est impossible de créer un compte sans une adresse email" class="form-control" {% if email_user %}value="{{ email_user }}" {% endif %}>
              </div>
              <div class="form-group">
                <input name="password" id="loginPassword" placeholder="Mot de passe" type="password" required data-msg="Un mot de passe est nécessaire!" class="form-control">
              </div>
                <div class="form-group">
                <input name="password2" id="loginPassword2" placeholder="Confirmez votre mot de passe" type="password" required data-msg="" class="form-control">
              </div>
              <button type="submit" class="btn btn-lg btn-block btn-primary">S'inscrire</button>
              <p class="text-sm text-muted mt-3">En vous inscrivant, vous acceptez les <a href="{% url 'terms_and_conditions' %}">termes et conditions</a> ainsi que <a href="{% url 'privacy' %}">notre charte de vie privée</a>.</p>
            </form>
<script>
    mixpanel.track("Signup view employeur");
    </script>
{% endblock %}