{% extends 'auth/auth_base.html' %}
{% block body %}
            <div class="mb-4"><img src="https://yedo.s3.eu-west-3.amazonaws.com/static/tus/img/yedo_logos/Symbol_Black.png" alt="..." style="max-width: 4rem;" class="img-fluid mb-4">
              <h2>Mot de passe oublié</h2>
                {% if errors %}<p class="text-muted">
                <span style="color: #E63422">{% for e in errors %}<br>{{ e }}{% endfor %}</span></p>{% endif %}
            </div>
            <form class="form-validate" method="POST" action="{% url 'auth_password' %}">
            {% csrf_token %}
              <div class="form-group">
                <input name="email" id="loginUsername" type="email" placeholder="Adresse e-mail" autocomplete="off" required data-msg="Sans email, ça va etre compliqué de recevoir un nouveau mot de passe..." class="form-control">
              </div>

              <button class="btn btn-lg btn-block btn-primary" type="submit">Réinitialiser</button>

            <p class="text-center mt-3"><a class="text-muted text-center" href="{% url 'auth_login' %}"><i class="fa fa-arrow-left"></i> Revenir </a></p>

            </form>
{% endblock %}