{% extends 'dashboard/base.html' %}


{% block body %}
{% if not add_study_level and not add_study_domain and not add_study_type %}
        <div class="row">
        <div class="col-lg-4">


    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Les types de diplomes
                  <form method="POST" action="{% url 'dashboard_all_diplomes' %}">
                      {% csrf_token %}
                      <input type="hidden" name="add_study_type">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form>
              </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for d in study_types %}
                    <tr>
                      <td>{{d.value_fr}}</td>
                    <td>
                        <form action="{% url 'dashboard_all_diplomes' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete_type" value="true">
                            <input type="hidden" name="type_id" value="{{ d.id }}"><button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button></form>

                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">


    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Les niveaux de diplomes
                  <form method="POST" action="{% url 'dashboard_all_diplomes' %}">
                      {% csrf_token %}
                      <input type="hidden" name="add_study_level">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
               <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for d in study_levels %}
                    <tr>
                      <td>{{d.value_fr}}</td>
                    <td>
                        <form action="{% url 'dashboard_all_diplomes' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete_level" value="true">
                            <input type="hidden" name="level_id" value="{{ d.id }}"><button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button></form>

                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
         <div class="col-lg-4">


    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Les domaines d'étude
                  <form method="POST" action="{% url 'dashboard_all_diplomes' %}">
                      {% csrf_token %}
                      <input type="hidden" name="add_study_domain">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </form></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for d in study_domains %}
                    <tr>
                      <td>{{d.value_fr}}</td>
                    <td>
                        <form action="{% url 'dashboard_all_diplomes' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete_domain" value="true">
                            <input type="hidden" name="domain_id" value="{{ d.id }}"><button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button></form>

                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
    {% endif %}

{% if add_study_domain %}
<div class="row">
<div class="col-lg-6">
    <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"> Ajouter un domaine d'étude</h6>
                </div>
                <div class="card-body">
                  <form method="POST" action="{% url 'dashboard_all_diplomes' %}" id="adding_form">
                  {% csrf_token %}
        <input  type="hidden" name="add_study_domain" value="true">
                      <input  type="hidden" name="sent" value="true">
                      <input  type="hidden" name="quit" value="false" id="quitting_input">
        <input class="form-control" type="text" id="add_input_id" name="value_fr"><br>
        <button class="form-control" type="submit" class="btn btn-primary">Sauver et continuer <i class="fa fa-check"></i></button><br>

      <button class="form-control" onclick="validateAndQuit()" class="btn btn-primary">Sauver et quitter <i class="fa fa-check"></i></button><br></form>
      <form method="POST" action="{% url 'dashboard_all_diplomes' %}">{% csrf_token %}<button class="form-control" type="submit" class="btn btn-primary">Quitter sans sauver <i class="fa fa-times"></i></button></form>


                </div>
              </div>
</div>
</div>

{% elif add_study_type %}

        <div class="row">
<div class="col-lg-6">
    <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"> Ajouter un type de diplome</h6>
                </div>
                <div class="card-body">
                  <form method="POST" action="{% url 'dashboard_all_diplomes' %}" id="adding_form">{% csrf_token %}
        <input  type="hidden" name="add_study_type" value="true">
                       <input  type="hidden" name="sent" value="true">
                      <input  type="hidden" name="quit" value="false" id="quitting_input">
        <input class="form-control" type="text" id="add_input_id" name="value_fr" placeholder="Nom du diplome"><br>

      <button class="form-control" type="submit" class="btn btn-primary">Sauver et continuer <i class="fa fa-check"></i></button><br>

      <button class="form-control" onclick="validateAndQuit()" class="btn btn-primary">Sauver et quitter <i class="fa fa-check"></i></button><br>
                      </form>
      <form method="POST" action="{% url 'dashboard_all_diplomes' %}">{% csrf_token %}<button class="form-control" type="submit" class="btn btn-primary">Quitter sans sauver <i class="fa fa-times"></i></button></form>
                </div>
              </div>
</div>
</div>
    {% elif add_study_level %}
      <div class="row">
<div class="col-lg-6">
    <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"> Ajouter un niveau de diplome</h6>
                </div>
                <div class="card-body">
                  <form method="POST" action="{% url 'dashboard_all_diplomes' %}" id="adding_form">{% csrf_token %}
        <input  type="hidden" name="add_study_level" value="true">
                       <input  type="hidden" name="sent" value="true">
                      <input  type="hidden" name="quit" value="false" id="quitting_input">
        <input class="form-control" type="text" name="value_fr" id="add_input_id" placeholder="Niveau du diplome"><br>

      <button class="form-control" type="submit" class="btn btn-primary">Sauver et continuer <i class="fa fa-check"></i></button><br>

      <button class="form-control" onclick="validateAndQuit()" class="btn btn-primary">Sauver et quitter <i class="fa fa-check"></i></button><br>
                      </form>
      <form method="POST" action="{% url 'dashboard_all_diplomes' %}">{% csrf_token %}<button class="form-control" type="submit" class="btn btn-primary">Quitter sans sauver <i class="fa fa-times"></i></button></form>

                </div>
              </div>
</div>
</div>
    {% endif %}

{% endblock %}

{% block scripts %}

    <script>
    document.getElementById("add_input_id").focus();
    function validateAndQuit() {
        document.getElementById("quitting_input").value = 'true';
        document.getElementById('adding_form').submit();
    }



    </script>

{% endblock %}
